extends layout


block formation
	.container
		.row
			.col-sm-6.col-sm-offset-3
				.pfblock-header.wow.fadeInUp
					h2.pfblock-title Etudes
					.pfblock-line
		.row
			each study, index in studies
				.col-md-3.col-sm-4
					.iconbox.wow(class= index < 4 ? "fadeInRightBig" : "fadeInLeftBig" data-wow-delay="#{index * 0.25}s")
						.iconbox-time(class= study.color) #{study.time}
						.iconbox-text
							h3.iconbox-title #{study.title}
							.iconbox-desc #{study.text}

block timeline
	.container
		.row
			.col-sm-8.col-sm-offset-2
				.pfblock-header.wow.fadeInUp
					h2.pfblock-title Experiences professionelles
					.pfblock-line
		.row
			ul.timeline.wow.slideInUp
				-var min = 2016
				each life, index in timeline
					li.wow.modal-body(class=index % 2 ? "slideLeft slideInLeft" : "slideRight slideInRight timeline-inverted")
						.timeline-badge(class = life.logo ? 'logo' : life.class)
							if life.logo 
								img(src="/assets/img/logo/" + life.logo)
							else
								i.fa(class= life.icon)
						.modal-content
							.modal-header
								h4.modal-title #{life.title}
								if life.subtitle
									p.text-muted #{life.subtitle}
							.modal-body
								p #{life.text}
							//- .modal-footer 
								a.timeline-infos.hvr-pop(data-toggle="modal" data-target="#exp-"+index) Plus d'infos
					if (min > life.time)
						li.text-center
							.btn.btn-lg #{life.time}
						- min = life.time
					.modal.fade(id="exp-" + index tabindex="-1" role="dialog" aria-labelledby="Projet "+index)
						.modal-dialog(role="document")
							.modal-content
								.modal-header 
									button(type="button" class="close" data-dismiss="modal" aria-label="Close")
										span(aria-hidden="true")
											i.fa.fa-times
									h4.modal-title  #{life.title}
								.modal-body Test nody
								.modal-footer test footer

block portfolio
	.container
		.row
			.col-sm-6.col-sm-offset-3
				.pfblock-header.wow.fadeInUp
					h2.pfblock-title Projets
					.pfblock-line
					p Projets sur lesquels j'ai pu travaillé, pour EPITECH, en stage, ou personnellement. Passez la souris dessus pour voir les principales compétences liées.
		.row.portfolio-slider
			each row in projects
				.duo-slide
					each project in row
						.col-xs-12
							.grid.wow.zoomIn
								//- a(href="" data-toggle="modal" data-target="#modalProject"+index)
								a(href=project.link target="_blank")
									figure.effect-bubba
										img(src="/assets/img/project/" + project.img, alt="#{project.name}")
										figcaption
											h2 #{project.name}
											each skill in project.skills
												if skill != "less"
													i(class= 'devicon-' + skill + '-plain' title=skill)
												else
													i(class= 'devicon-' + skill + '-plain-wordmark' title=skill)
				//- .modal.fade(id="modalProject" + index tabindex="-1" role="dialog" aria-labelledby="Projet "+index)
				//- 	.modal-dialog(role="document")
				//- 		.modal-content
				//- 			.modal-header 
				//- 				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
				//- 					span(aria-hidden="true")
				//- 						i.fa.fa-times
				//- 				h4.modal-title #{project.name}
				//- 			.modal-body Test nody
				//- 			.modal-footer test footer

block skills
	.container
		.row.skills
			.row
				.col-sm-6.col-sm-offset-3
					.pfblock-header.wow.fadeInUp
						h2.pfblock-title Compétences
						.pfblock-line
			each category in skills
				.row.category(class="opened " + category.name)
					h3
						i.fa.fa-minus
						| #{category.name}
					each skill in category.values
						.col-xs-6.col-sm-3.col-md-2.text-center
							.wrapper(style="height:140px;position:relative")
								span.chart.easyPieChart(data-percent= skill.percent class=category.name)
									if skill.icon
										i.percent(class= 'devicon-' + skill.icon + '-plain' + (skill.iconspecial ? skill.iconspecial : '') title=skill.name)
									else
										span.skill-center #{skill.name}
							a.btn.btn-lg.hvr-pulse #{skill.name}

block contact
	.container
		.row
			.col-sm-6.col-sm-offset-3
				.pfblock-header
					h2.pfblock-title Contact
					.pfblock-line
		.row
			.col-sm-4.text-center.wow.zoomIn
				a
					h4
						i.fa.fa-map-marker.fa-3x
					| Paris, France
			.col-sm-4.text-center.wow.zoomIn
				a(href='mailto:nicolas.temenides@epitech.eu')
					h4
						i.fa.fa-envelope-o.fa-3x
					| nicolas.temenides@epitech.eu
			.col-sm-4.text-center.wow.zoomIn
				a(href='https://www.linkedin.com/profile/view?id=311450971')
					h4
						i.fa.fa-linkedin.fa-3x
					| LinkedIN
			//- .col-sm-6.col-sm-offset-3
			//- 	form#contact-form(role="form")
			//- 		.ajax-hidden
			//- 			.form-group.wow.fadeInUp
			//- 				label.sr-only(for="contact-name") Name
			//- 				input#contact-name.form-control(type="text" name="contact-name" placeholder="Nom")
			//- 			.form-group.wow.fadeInUp(data-wow-delay=".1s")
			//- 				label.sr-only(for="contact-email") contact-email
			//- 				input#contact-email.form-control(type="email" name="contact-email" placeholder="E-mail")
			//- 			.form-group.wow.fadeInUp(data-wow-delay=".2s")
			//- 				textarea#contact-message.form-control(rows="7" placeholder="Message")
			//- 			button.btn.btn-lg.btn-block.wow.fadeInUp(type="submit" data-wow-delay=".3s") Envoyer
			//- 		.ajax-response
